@inherits LayoutComponentBase

<div class="bb-page">
    <main>

        <div class="navbar justify-content-between content px-4" style="background-color:seagreen;height:100px;">

            <a class="navbar-brand" style="font-size: 2.0rem;color:white;">Painel de Profissionais</a>

            <i class="bi bi-people-fill" style="font-size: 2.0rem;color:white;"></i>

        </div>

        <article class="content px-4">
            <div class="py-2">
                @Body
            </div>
        </article>
    </main>

</div>

<Modal IsServiceModal="true" />
<Preload />
<Toasts class="p-3" AutoHide="true" Delay="2000" Placement="ToastsPlacement.TopRight" />



